
@{
    ViewBag.Title = "GetRolesForUserConfirmed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Current Roles</h2>
@if (ViewBag.RolesForThisUser != null)
{
    <div>
        <ol>
            @foreach (string s in ViewBag.RolesForthisUser)
            {
                <li>@s</li>
            }
        </ol>
    </div>
}

